
    <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
          <li><a href="https://github.com/ideationnet" class="icon fa-github"><span class="label">Github</span></a></li>
          <!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
          <li><a href="mailto:info@ideationnetworks.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; 2007-2016 Ideation Networks Ltd.</li>
        </ul>
      </footer>

    <!-- Scripts -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/jquery.poptrox.min.js"></script>
      <script src="/assets/js/skel.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="/assets/js/main.js"></script>
